name: NDK build

on:
  push:
    tags:
      - 'v*'
    branches:
      - 'main'
      - 'dev/**'
      - 'feat/**'
    paths-ignore:
      - ".gitignore"
      - "**.yml"
      - "!.github/workflows/ndk-build.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        name: Checkout
        with:
          submodules: true
          lfs: true

      - uses: seanmiddleditch/gha-setup-ninja@v3

      - name: Create ndkpath.txt
        run: |
          echo "$ANDROID_NDK_LATEST_HOME" > ${GITHUB_WORKSPACE}/ndkpath.txt
          cat ${GITHUB_WORKSPACE}/ndkpath.txt

      - name: Setup qpm
        uses: Fernthedev/qpm-action@main
        with:
          workflow_token: ${{ secrets.GITHUB_TOKEN }}
          restore: true
          cache: true
          publish: false

      - name: Write version
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          qpm package edit --version "${GITHUB_REF#refs/tags/v}"
          qpm restore

      - name: build
        run: pwsh ./scripts/build.ps1

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: liboffline-echo.so
          path: ./build/liboffline-echo.so
          if-no-files-found: error

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          files: ./build/liboffline-echo.so
          generate_release_notes: true
